*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 ,h2,h3{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.conatiner{
    width: 80%;
    margin: auto;
}
.header{
    overflow: hidden;
    padding: 15px 0;
    text-transform: capitalize;
    position: fixed;
    width: 100%;
    z-index: 99999; /*higher layer*/
}
.logo{
    float: left;
    width: 35%;
    font-size: 20px;
    color: rgba(255,255,255,0.7);
    text-transform: capitalize;
    font-weight: bold;
}
.navbar{
    float: left;
    width: 65%;
    padding-top: 15px;
}
.navbar ul {
    list-style: none;
    text-align: right;
}
.navbar ul li{
   display: inline-block;
}
.navbar ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 20px;
    color: rgba(255,255,255,0.7);
}
.home{
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    height:100vh;
    background-position:0 -100px;
    position: relative; 
}
.home-content{
   text-align: center;
   position: absolute; /*with position absolute a top layer will be created so we must use z-index to other components*/
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.home:after{ /*after always is inline which means height and width doesn't affect it*/
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)}
.home-content h1{
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
    line-height:1.3;
    font-size: 48px;
    font-weight: 700;
}
.home-content span,.section-need span,.services span, .contact span{ /*or use after*/
    background-color: #f4623a;
    display: block; /*because it's inline component w&h doean't affect it*/
    height: 3px;
    width: 50px;
    margin: 20px auto;
    }
.home-content p,.item p,.contact p{
font-family: "Merriweather";
color: #888;
font-size: 18.4px;
font-weight: 300;
margin: 15px auto ;
line-height: 27.6px;
}
.home-content a ,.section-need a ,.download a{
font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background-color: #f4623a;
color: #fff;
display: inline-block;
padding: 20px 26px;
border-radius: 160px;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
}

.section-need{
    background-color:#f4623a;
    text-align: center;
    padding: 150px 0;
}
.section-need h2 , .download h2{
    color: #fff;
    font-size: 40px;
}

.section-need p{
    color: rgba(255,255,255,0.5) ;
    font-size: 20px;
    width:50%;
    margin: 20px auto;
    line-height: 1.3;
}
.section-need a{
    background-color: #fff;
    color: black;
}
.services{
    padding: 150px 0;
}
.services h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
}
.services .item{
float: left;
width: 25%;
text-align: center;
padding: 0 15px;
}
.services .conatiner{
    overflow: hidden;
}
.services-items{
 margin: 50px 0;;
}
.services-items i{
    color:#f4623a;
    font-size: 70px;
}
.services-items h3{
    margin: 16px 0;
    text-transform: capitalize;
    font-size: 24px;
}
.gallery-items{
    overflow: hidden;
}
.gallery-item{
float: left;
width: 33.33%;
position: relative;
}
.gallery-item:hover .overlay{
    opacity: 0.7;
    cursor: pointer;
}
.gallery-item img{
    display: block; 
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#f4623a;
    width:100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.overlay-content{
    top:50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%,-50%);
}
.overlay-content p{
    color: rgba(255, 255, 255, 0.5) ;
    font-family: "Merriweather Sans";
    font-size: 13.6px;
    font-weight: 600;
    text-transform: uppercase;
}
.overlay-content h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 19.2;
    font-weight: 400;
    line-height: 28.8px;
}
.download{
    text-align: center;
    background-color: #343a40 !important;
    padding: 150px 0;
}
.download a{
    color :#343a40;
    background-color: #fff;
    margin-top: 40px;
}
.download h2{
    text-transform:capitalize;
}
.contact{
    text-align: center;
    padding: 100px 0;
}
.contact p{
    margin:20px auto;
    width:35%;
}
.contact h2{
    font-size: 35px;
    margin:30px 0;
    text-transform: capitalize;
}
.phone,.mail{
    float:left;
    width: 50%;
}
.contact-data{
    width:60%;
    margin:auto;
    overflow: hidden;
}
.mail i,.phone i{
    margin :20px auto;
    display: block;
    font-size: 50px;
    color:#6c757d ;
}
.mail a{
    text-decoration:none;
    color:#f4623a ;
}
.phone a{
    text-decoration:none;
    color: #343a40;
}
.footer{
    padding: 50px;
    text-align: center;
    background-color: rgb(248, 249, 250);
}
.footer p{
    color: rgb(108, 117, 125);
    text-transform: capitalize;
}
